/* About me  */
.about{
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    margin: 70px auto;
    gap:60px 100px;
    /* flex-wrap: wrap; */
}
.about-left{
    position: relative;
}
.aboutImg{
    width:300px;
    border-radius: 5px;
    filter: grayscale(100%);
    transition: transform 0.3s ease;
   position: relative ;
   box-shadow: rgb(223 121 33) 0px 1px 30px;
   
}
.aboutImg:hover{
    filter: grayscale(0%);
    transform: scale(1.03);

}
.about-left .about-icons .square1{
    height: 50px;
    width:50px;
    position: absolute;
    background-color:var(--button-background-color);
    top:36px;
    left:-36px;
    
}

.about-left .about-icons .square2{
    height: 80px;
    width:80px;
    position: absolute;
    border: 2px solid var(--button-background-color);
    top:-18px;
    right:-14px;
    z-index: -1;
    
}

.about-left .about-icons .square3{
    height: 40px;
    width:30px;
    position: absolute;
    background-color: var(--button-background-color);
    top:366px;
    right:29px;
    
}

.about-left .about-icons .downloadBG-wrapper{
    z-index: 1;
}
.about-left .about-icons .downloadBG-wrapper .downloadBG{
    position: absolute;
    top: 283px;
    left:-99px;
    width:200px;
    animation: rotateBG 5s linear infinite;
    
}
@keyframes rotateBG {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.about-left .about-icons .downloadBG-wrapper .downloadCV{
    position: absolute;
    height:30px;
    width:30px;
    top: 365px;
    left:-14px;   
}

.about .about-right .title{
    color: var(--button-background-color);
    font-size: 1.3rem;
}
.about .about-right h1{
    margin-top: 1rem;
    font-size: 2.5rem;
}
.about .about-right p{
    margin-top: .5rem;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 2px;
}



/* Education  */

.education-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    max-width: 80%;
    margin: 200px auto 50px auto;
    gap: 98px;
    flex-wrap: wrap;
}
.education > h1{
    margin-bottom: 20px;
} 
.experience > h1{
    margin-bottom: 20px;
} 
.education i{
    color: var(--button-background-color);
    padding-right: 10px;
}
.experience i{
    color: var(--button-background-color);
    padding-right: 10px;
}
.content{
    display: flex;
    gap:15px;
    /* max-width: 520px; */
}
.education-left{
    display: flex;
    flex-direction: column;
}
.education-left .dot{
    border:2px solid var(--button-background-color);
    height: 15px;
    width: 15px;
    /* color: white; */
    border-radius: 50%;
    background-color: white;

}
.education-left .line{
    border: 1.5px solid gray;
    height:190px;
    width: 1px;
    margin-left: 6px;
    /* margin-top: 4px; */
}
.education-right h1{
    font-size: 1rem;
    color: var(--button-background-color);
}
.education-right p:nth-child(2){
    margin-top: 1px;
}
.education-right p:nth-child(3){
    font-size: 0.8rem;
    color: gray;
    margin-top: 5px;
}
.education-right p:nth-child(4){
    margin-top: 15px;
    text-align: justify;
    max-width: 450px;
}


@media screen and (max-width: 1300px){
    .about{
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media screen and (max-width: 1462px){
    .home{
        justify-content: center;
    }
    .left-content {
        order: 1;
        
    }
    .right-content{
        order: -1;
    }
    
}



/* Education */
 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 200px auto;
    /* gap: 98px; */
    flex-wrap: wrap;
} 

