.home {
    display: flex;
    gap: 70px;
    max-width: 75vw;
    padding-top: 70px;
    margin: 0px auto;
    justify-content: space-between;
    padding-bottom: 90px;
    flex-wrap: wrap;
}

.left-content {
    text-align: left;
    transform: translateY(-50px);
    animation: HomeLeft 0.9s ease-in-out forwards;
}

@keyframes HomeLeft {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.left-content .role1 {
    text-transform: uppercase;
    color: var(--button-background-color);
    font-weight: bold;
    margin-top: 23px;
    font-size: 20px;
}

.left-content .name1 {
    margin-top: 20px;
    font-size: 63px;
    display: inline-block;
}

.left-content .name2 {
    font-size: 63px;
    margin-top: 10px;
    /* letter-spacing: 7px; */
}

.left-content .role2 {
    display: inline-block;
    font-size: 33px;
    color: rgb(32, 32, 236);
    font-weight: bold;
    margin-left: 23px;
    white-space: nowrap;
    overflow: hidden;
}

.left-content .typing-text::after {
    content: "";
    position: absolute;
    left: 150px;
    height: 40px;
    width: 100%;
    border-left: 2px solid rgb(32, 32, 236);
    animation: typing 2s steps(10) infinite;
    background: var(--primary-background-color);
}

@keyframes typing {
    100% {
        left: 92%;
    }

}

.description {
    margin-top: 23px;
    max-width: 550px;
    /* letter-spacing: 1px; */
    line-height: 1.5;
}

.buttons {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-resume {
    padding: 12px;
    color: var(--primary-text-color);
    border-radius: 7px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: var(--button-background-color);
}

.btn-home-navigation {
    background: transparent;
    border: none;
}

.btn-home-navigation a {
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    color: var(--primary-text-color);
    border-radius: 7px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: var(--button-background-color);
    transition: background-color .5s ease-in-out;
}

.btn-home-navigation i {
    font-size: 12px;
}


.social-icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.social-icons img {
    height: 30px;
    width: 30px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.right-content {
    position: relative;
    animation: bounce 1s ease infinite alternate;
}

.circle1 {
    border: 1px solid var(--primary-text-color);
    border-radius: 50%;
    box-shadow: rgb(66 100 169) 0px 4px 70px;
}

.circle2 {
    border: 10px solid var(--primary-text-color);
    border-radius: 50%;
    margin: 53px;
    animation: HomeLeft 0.9s ease-in-out forwards;
}



.circle2 img {
    width: 350px;
    border-radius: 50%;

}

.right-content .icons {
    position: absolute;
    height: 467px;
    width: 463px;
    top: 0px;
    left: 0px;
}

.icons {
    transform: translateY(50%);
    transition: transform 0.9s ease-in-out;
    animation: HomeIcons 0.9s ease-in-out forwards;
}

@keyframes HomeIcons {
    0% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }
}

.icons img {
    width: 64px;
    height: 64px;
    position: absolute;
}

.icons .react-icon {
    position: absolute;
    top: 47px;
    left: 31px;
}

.icons .mongo-icon {
    position: absolute;
    top: 36px;
    right: 8px;
}

.icons .nextjs-icon {
    position: absolute;
    bottom: 28px;
    left: 42px;
}

.icons .nodejs-icon {
    position: absolute;
    bottom: 43px;
    right: 14px;
}


@media screen and (max-width: 1462px) {
    .home {
        justify-content: center;
    }

    .left-content {
        order: 1;

    }

    .right-content {
        order: -1;
    }

}