nav{
    display: flex;
    background-color: var(--primary-background-color);
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    width: 75vw;
    margin: auto;
}
.logo{
    /* filter: drop-shadow(2px 2px 3px #b3b3b3); */
}
.nav-right ul {
    display: flex;
    gap: 34px;
}
.nav-right ul li {
    font-size: 20px;
    list-style: none;

}
.nav-right ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
}
.nav-right ul li:first-child a {
    color: #C2410C; 
}
.nav-right ul li a:hover{
    color:#737477;
}
