nav{
    display: flex;
    background-color: var(--primary-background-color);
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    width: 75vw;
    margin: auto;
    flex-wrap: wrap;
}
nav .check-btn{
    font-size: 30px;
}
.nav-left{
    /* filter: drop-shadow(2px 2px 3px #b3b3b3); */
}
.nav-center ul {
    display: flex;
    gap: 34px;
}
.nav-center ul li {
    font-size: 20px;
    list-style: none;

}
.nav-center ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.nav-center ul li a:hover{
    color:#737477;
    transition: .5s;
}
.nav-center ul li a.active{
    color: var(--button-background-color);
}
.nav-right .nav-btn{
    padding: 12px;
    color: var(--primary-text-color);
    border-radius: 7px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: var(--button-background-color);
    transition: background-color .5s ease-in-out;
    
}
.nav-right button:hover{
    background-color: white;
    color: var(--primary-background-color);
    
}
#toggler, nav label{
    display: none;
}
@media screen and (max-width: 800px){
    .nav-center{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        display: none;
    }
    ul{
        flex-direction: column;
        align-items: center;
        padding: 5px;
        margin: 0px auto;
        
    }
    nav label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .nav-center{
        max-height: 100%;
        display: flex;
    }
    .nav-right .nav-btn{
        display: none;
    }
}
nav label {
    position: absolute;
    top: 30px; 
    right: 10px; 
}

