.projects {
    margin-top: 20px;
}

.projects h1 {
    text-align: center;
    font-size: 30px;
    animation: ProjectText 0.9s ease-in-out forwards;
}



@keyframes ProjectText {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    margin: 80px auto;
    gap: 30px;
    padding: 30px 36px;
    flex-wrap: wrap;
}

.project-container .left .title {
    font-size: 15px;
}

.project-container .left .project-name {
    margin-top: 3px;
    font-size: 25px;
    color: var(--button-background-color);
}

.project-container .left .laptop {
    position: relative;
}

.project-container .left .laptop .img1 {
    position: relative;
    z-index: 10;
    width: 500px;
}

.project-container .left .laptop .video {
    position: absolute;
    right: 65px;
    top: 40px;
    width: 380px;
}

.project-container .right .des {
    font-size: 20px;
}

.project-container .right .description {
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.5;
}

.project-container .right .technologies {
    margin-top: 20px;
}

.project-container .right .list-languages {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    gap: 10px;
    font-size: 12px;
    color: rgb(177, 178, 179);
}

.project-container .right .list-languages .language {
    border: 1px solid grey;
    padding: 5px 15px;
    border-radius: 15px;
}

.project-container button {
    margin-top: 20px;
    padding: 12px;
    color: var(--primary-text-color);
    border-radius: 7px;
    font-size: 15px;
    border: none;
}

.project-container .btn-orange {
    background-color: var(--button-background-color);
}

.project-container .btn-blue {
    background-color: #0e2363;
    margin-left: 15px;
}

/* Project 2 */

.project-container .left .phone {
    position: relative;
}

.project-container .left .phone .phoneImg {
    position: relative;
    z-index: 10;
    width: 488px;
    height: 504px;
}

.project-container .left .phone .phoneVideo {
    position: absolute;
    right: 69px;
    top: 23px;
    width: 350px;
    height: 459px;
}
.btn-navigation-contact{
    display: flex;
    margin: 50px auto;
    text-align: center;
}

@media screen and (max-width: 1450px){
    .project-container{
        justify-content: center;
    }
}