.skills {
    margin: 20px;
    
}

.skills h1 {
    text-align: center;
    font-size: 30px;
    animation: SkillsText 0.9s ease-in-out forwards;
}
@keyframes SkillsText {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 50px;
    margin-top: 70px;
}

.skill-container .boxes {
    width: 100%;
    max-width: 550px;
    background: var(--secondary-background--color);
    border-radius: 16px;
    padding: 18px 36px;
    margin: 3px 0px;
    border: 0.5px solid var(--secondary-background--color);
}

.boxes h2 {
    text-align: center;
    color: rgb(177, 178, 179);
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    color: rgb(177, 178, 179);
}

.box6 {
    row-gap: 10px;
    padding: 0px 30px;
}

.box {
    border: 1px solid rgb(177, 178, 179);
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
}

.box img {
    height: 25px;
    width: 25px;
}


/* ANimation  */
.boxes {
    transition: transform 0.5s ease-in-out;
}

.boxes:hover {
    /* transform: scale(1.1); */
    background-color: transparent;
    border: 1px solid white;
}


.box-group-left {
    animation: SkillsLeft 0.9s ease-in-out forwards;
}

.box-group-right {
    animation: SkillsRight 0.9s ease-in-out forwards;
}

@keyframes SkillsLeft {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes SkillsRight {
    from {
        transform: translateX(20%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.btn-navigation-projects{
    margin: 50px auto;
    text-align: center;
    display: flex;
}