nav{
    display: flex;
    background-color: var(--primary-background-color);
    justify-content: space-between;
    align-items: center;
    /* height:50px; */
    padding: 15px 0px;
    width: 75vw;
    margin: auto;
}
/* nav .logo p {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 30px;
} */

.nav-right ul {
    display: flex;
    gap: 34px;
}
.nav-right ul li {
    font-size: 20px;
    list-style: none;

}
.nav-right ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
}
.nav-right ul li:first-child a {
    color: #C2410C; 
}
.nav-right ul li a:hover{
    color:#737477;
}
